:root {
  --link-focus-color: #2196f3;
  --text-paragraf-color: #757575;
  --text-fon-white-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
/*------reset start-----*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
/*------reset end-----*/
/*--------------HEADER---------------*/
.logo {
  display: inline-block;
  width: 145px;
  height: 31px;
  margin: 24px 93px 25px 215px;

  font-family: 'Raleway';

  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  letter-spacing: 0.03em;

  color: var(--link-focus-color);
}
.logo-header {
  color: #212121;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--link-focus-color);
}

.nav-contacts-item {
}
.nav-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--text-paragraf-color);
}
.nav-contacts-link:hover,
.nav-contacts-link:focus {
  color: var(--link-focus-color);
}
/*--------------HEADER---------------*/

/*--------------MAIN---------------*/
.hero {
  margin-bottom: 94px;
  width: 1600px;
  min-height: 600px;
  left: 0px;
  top: 80px;

  background-color: #2f303a;
}
.hero-text {
  display: inline-block;
  margin-top: 200px;
  margin-left: 452px;
  margin-bottom: 30px;

  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-fon-white-color);
}
.hero-btm {
  display: inline-block;
  margin-left: 692px;

  min-width: 216px;
  min-height: 50px;
  padding: 8px 31px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--link-focus-color);
  cursor: pointer;
  color: var(--text-fon-white-color);
  border-color: transparent;

  border-radius: 4px;
}
.hero-btm:hover,
.hero-btm:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
}
.features-item {
}
.features-item-h {
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-item-p {
  width: 270px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--text-paragraf-color);
}
.activitys {
  margin: 94px 616px 50px 616px;
  width: 368px;
}
.activitys,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  margin: 94px 667px 50px 667px;
  width: 266px;
}

.img-foto {
  margin-bottom: 30px;
}
.team-item-h {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item-p {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-paragraf-color);
}
/*--------------MAIN---------------*/
/*--------------footer---------------*/
.footer {
  width: 1600px;
  height: 252px;
  padding-left: 215px;
  padding-top: 60px;

  background-color: #2f303a;
}

.logo-footer {
  margin-bottom: 20px;
  color: var(--text-fon-white-color);
}

.footer-contacts {
}
.footer-adress-link {
  display: inline-block;
  width: 231px;
  height: 21px;
  margin-bottom: 9px;

  font-style: normal;

  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--text-fon-white-color);
  text-decoration: none;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--link-focus-color);
}
.footer-contacts-link {
  display: inline-block;
  width: 231px;
  height: 21px;
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--link-focus-color);
}
/*--------------footer---------------*/
/*--------------portfolio-main--------------*/
.portfolio-btm {
  margin: 100px 0 56px 537px;
}

.portfolio-btm-item {
  display: inline-block;

  min-width: 73px;
  padding: 4px 20px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
}
.portfolio-btm-item:hover,
.portfolio-btm-item:focus {
  color: var(--text-fon-white-color);
  background: var(--link-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-tool {
}

.portfolio-tool-h {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-tool-p {
  width: 322px;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--text-paragraf-color);
}
/*--------------portfolio-main--------------*/
